<p id="notice"><%= notice %></p>

<div class="ui text container">
  <p>
    <strong>Color:</strong>
    <%= @team.color %>
  </p>

  <p>
    <strong>Wedding:</strong>
    <%= @team.wedding %>
  </p>

</div>
