<div class="ui text container">
    <div>
        <img class="avatar" src="<%= current_user.info :picture %>"/>
        <h2>Welcome
            <%= current_user.info :name  %></h2>
        <p>You are part of <%= current_user.teams.count %> teams</p>
        <%= console %>
    </div>
</div>
