<h1>Listing guests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.name %></td>
    <td><%= guest.email %></td>
    <td><%= guest.address %></td>
    <td><%= guest.phone %></td>
  </tr>
<% end %>
</table>
