<div class="ui text container">
<div class="ui card">
<div class="content">
    <img class="right floated mini ui image" src="<%= @organizer.user.info :picture %>">
    <div class="header">
        <%= @organizer.user.info :name %>
    </div>
    <div class="meta">
        <%= @organizer.relationship %>
    </div>
</div>
</div>
<%= link_to 'Edit', edit_wedding_organizer_path(@wedding, @organizer), class: 'ui button' %>

</div>
