<div class="ui text container">
<h1>Plan Your Shaadi</h1>

<p>Welcome beta testers! <br>
  You're now part of an elaborate experiment on using technlogy
to make shaadi planning easier! Hope you have fun! <br>
If anything breaks, you have my number! <br>
<b>&mdash; Amin Shah Gilani</b>
</p>

<p>Welcome to Shaadi Plan! Inside, you'll be able to: </p>
<ul>
    <li>Invite wedding guests</li>
    <li>Selectively invite guests to specific events
        <em>(Soon)</em>
    </li>
    <li>Have wedding invitations printed and delivered with just a click<em>(Soon)</em>
    </li>
    <li>View RSVP statuses
        <em>(Soon)</em>
    </li>
    <li>Send guests SMS messages before and during the events
        <em>(Soon)</em>
    </li>
</ul>
<script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('TIKTNP8kYglAOMR6jhOEBBEi0qJUxFCI', 'gilani.auth0.com', {
    auth: {
      <% if Rails.env.production? %>
      redirectUrl: 'https://shaadiplan.io/auth/auth0/callback',
      <% else %>
      redirectUrl: 'http://localhost:3000/auth/auth0/callback',
      <% end %>
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
<button class="ui button" onclick="lock.show();">Let's go!</button>
</div>
