<div class="ui text container">

  <h1><%= @wedding.couple.map { |e| e.split(' ').first }.join(' & ') %>'s wedding</h1>

  <a class="ui button" href="<%= new_wedding_guest_path(@wedding) %>">Add your name to the guest list</a>

</div>
