<div class="ui text container">

  <h1><%= @wedding.couple_first_names.join(' & ') %>'s wedding</h1>

  <p>Great job!</p>
  <p>
    This is your wedding page. Soon, this page will be updated with information about the couple.
  </p>
  <p>
    For now, let's move onto managing the organizers:
  </p>

  <a class="ui basic blue button" href="<%= wedding_organizers_path @wedding %>">Manage organizers</a>

  <a class="ui button" href="<%= new_wedding_guest_path(@wedding) %>">Add your name to the guest list</a>

</div>
