<div class="ui text container">

  <h1><%= @wedding.couple.map { |e| e.split(' ').first }.join(' & ') %>'s wedding</h1>

  <p>Great job!</p>
  <p>
    This is your wedding page. Soon, this page will be updated with information about the couple.
  </p>
  <p>
    For now, let's move onto managing the team:
  </p>

  <a class="ui basic blue button" href="<%= team_path %>">Manage team</a>

  <a class="ui button" href="<%= new_wedding_guest_path(@wedding) %>">Add your name to the guest list</a>

</div>
